{
  "botToken": "DISCORD_BOT_TOKEN",
  "username": "WEKU_USERNAME",
  "postingKey": "WEKU_WIF",
  "weight": 13,
  "minPostAge": "30 minutes ago",
  "maxPostAge": "4 days ago",
  "commandPrefix" : "$",
  "adminList": [ "478630106257031189", "411865062731677696"],
  "runtimeConfigFile": "config-runtime.json"
}
